@use "sass:color";

// Variables
$website-width: 1280px;

$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;

$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (color.channel($color, "lightness", $space: hsl) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// CSS Custom Properties (set on :root in main.scss)
// --main-color: #{$main-color};
// --dark-color: #{$dark-color};
// --light-color: #{$light-color};
